body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: rgb(60, 66, 70);
    overflow-x: hidden;
    width: 100vw;
}

#display {
    text-align: center;
    margin-top: 3vh;
}

footer {
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: black;
    color: white;
}
