body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: rgb(60, 66, 70);
    overflow-x: hidden;

}

#display {    
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 5vh
}

nav {
    width: 100vw;
}

footer {
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: black;
    color: white;
    width: 100vw;
}

.cart {
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: larger
}

.add-cart {
    margin-top: 2rem;
}
